<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Monster slayer</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js" defer></script>
</head>
<body>
    <header>
        <h1>Monster Slayer</h1>
    </header>
    <div id="game">
        <section id="monster" class="container">
            <h2>Monster Health</h2>
            <div class="healthbar">
                <div class="healthbar__value" :style="monsterBarStyles"></div>
            </div>
        </section>
        <section id="player" class="container">
            <h2>Your Health</h2>
            <div class="healthbar">
                <div class="healthbar__value" :style="playerBarStyles"></div>
            </div>
        </section>
        <section class="container" v-if="winner">
            <h2>Game over!</h2>
            <h3 v-show="winner === 'monster'">You lost!</h3>
            <h3 v-show="winner === 'player'">You win!</h3>
            <h3 v-show="winner === 'draw'">Draw!</h3>

            <button @click="startGame">Restart!</button>
        </section>
        <section id="controls" v-else>
            <button @click="attackMonster">ATTACK</button>
            <button :disabled="mayUsedSpecialAttack" @click="specialAttackMonster">SPECIAL ATTACK</button>
            <button @click="healPlayer">HEAL</button>
            <button @click="surrender">SURRENDER</button>
        </section>
        <section id="log" class="container">
            <h2>Battle log</h2>
            <ul>
                <li v-for="(msg, index) in logMessages" :key="index">
                    <span :class="{'log--player': msg.who === 'Player', 'log--monster': msg.who === 'Monster'}">
                        {{ `${msg.who} ` }}
                    </span>
                    <span :class="{'log--damage': msg.what === 'attack', 'log--heal': msg.what === 'heal'}" >
                        {{ `${msg.what} ` }}
                    </span>
                    <b>{{ msg.value }}</b>
                </li>
            </ul>
        </section>
        
    </div>
</body>
</html>